<!-- <div class="hero" *ngIf="productDetails"> -->
<!-- First Part  -->
<!-- <div class="hero-first mat-elevation-z8"> -->
<!-- Image Part -->
<!-- <div class="product-images">
      <div class="product-big-image">
        <img
          ngxViewer
          [src]="productDetails.images[selectedImage].url"
          [alt]="productDetails.images[selectedImage].name"
        />
      </div>
      <div class="product-small-images">
        <img
          *ngFor="let image of productDetails.images; let i = index"
          [src]="image.url"
          [alt]="image.name"
          (mouseover)="selectedImage = i"
        />
      </div>
    </div> -->
<!-- Product Details Part -->
<!-- <div class="product-details">
      <div class="product-name">
        {{ productDetails.name }}
      </div>
      <div class="product-category">
        {{ productDetails.category.name }}
      </div>
      <div class="flex">
        <mat-icon class="text-accent" *ngIf="reviewStar / 5 >= 1"
          >star</mat-icon
        >
        <mat-icon class="text-accent" *ngIf="reviewStar / 4 >= 1"
          >star</mat-icon
        >
        <mat-icon class="text-accent" *ngIf="reviewStar / 3 >= 1"
          >star</mat-icon
        >
        <mat-icon class="text-accent" *ngIf="reviewStar / 2 >= 1"
          >star</mat-icon
        >
        <mat-icon class="text-accent" *ngIf="reviewStar / 1 >= 1"
          >star</mat-icon
        >
        <mat-icon class="text-gray" *ngIf="5 - reviewStar > 0">star</mat-icon>
        <mat-icon class="text-gray" *ngIf="4 - reviewStar > 0">star</mat-icon>
        <mat-icon class="text-gray" *ngIf="3 - reviewStar > 0">star</mat-icon>
        <mat-icon class="text-gray" *ngIf="2 - reviewStar > 0">star</mat-icon>
        <mat-icon class="text-gray" *ngIf="1 - reviewStar > 0">star</mat-icon>
        <button mat-button type="button" aria-label="Reviews count">
          {{ productDetails.reviewes.length }} <mat-icon>reviews</mat-icon>
        </button>
      </div> -->
<!-- <div class="product-stars">
        <div class="star-yellow" *ngIf="reviewStar / 5 >= 1"></div>
        <div class="star-yellow" *ngIf="reviewStar / 4 >= 1"></div>
        <div class="star-yellow" *ngIf="reviewStar / 3 >= 1"></div>
        <div class="star-yellow" *ngIf="reviewStar / 2 >= 1"></div>
        <div class="star-yellow" *ngIf="reviewStar / 1 >= 1"></div>
        <div class="star-grey" *ngIf="5 - reviewStar > 0"></div>
        <div class="star-grey" *ngIf="4 - reviewStar > 0"></div>
        <div class="star-grey" *ngIf="3 - reviewStar > 0"></div>
        <div class="star-grey" *ngIf="2 - reviewStar > 0"></div>
        <div class="star-grey" *ngIf="1 - reviewStar > 0"></div>

        <div class="review-count">
          ( {{ productDetails.reviewes.length }} reviews)
        </div>
      </div> -->
<!-- <div class="product-small-description">
        {{ productDetails.small_description }}
      </div>

      <div class="product-actions"></div>
    </div>
  </div> -->

<!-- Product Price Part  -->
<!-- <div class="hero-second mat-elevation-z8" *ngIf="productDetails.prices">
    <app-product-price-table
      [priceData]="productDetails.prices"
      (addToCart)="addToCart($event)"
      (removeToCart)="removeToCart($event)"
    ></app-product-price-table>
  </div> -->

<!-- Product Description  -->
<!-- <div class="hero-third mat-elevation-z8">
    <div class="product-description">
      <div class="product-description-label">Description</div>
      <div class="product-description-value">
        {{ productDetails.description }}
      </div>
    </div>
    <div class="product-specifications">
      <div class="product-specifications-label">Specifications</div>
      <table
        class="product-specifications-table"
        aria-label="Specification Table"
      >
        <tr *ngFor="let specification of productDetails.specification">
          <td class="specification-label" aria-label="specification label">
            {{ specification.label }}
          </td>
          <td class="specification-value" aria-label="specification value">
            {{ specification.value }}
          </td>
        </tr>
      </table>
    </div>
  </div> -->

<!-- Product Reviews -->
<!-- <div class="hero-fourth mat-elevation-z8">
    <div class="product-reviewes-label">Reviews</div>
    <div class="product-reviewes-value">
      <div
        class="product-review"
        *ngFor="let review of productDetails.reviewes"
      >
        <div class="review-name">Name: {{ review.user.name }}</div>
        <mat-divider></mat-divider>
        <div class="review-message">Review: {{ review.message }}</div>
      </div>
      <div class="review-null-text" *ngIf="!productDetails.reviewes.length">
        No Reviews found
      </div>
    </div>
  </div>
</div> -->

<app-loader *ngIf="!productDetails"></app-loader>

<!-- NEW DESIGN -->
<div class="hero" *ngIf="productDetails">
  <!-- IMAGE -->

  <div class="product-images">
    <div class="product-big-image">
      <img
        [src]="productDetails.images[selectedImage].url"
        [alt]="productDetails.images[selectedImage].name"
      />
    </div>
    <div class="product-small-images">
      <img
        *ngFor="let image of productDetails.images; let i = index"
        [src]="image.url"
        [alt]="image.name"
        (mouseover)="selectedImage = i"
      />
    </div>
  </div>

  <div class="product-details">
    <!-- PRODUCT NAME  -->
    <h1 class="headline">
      {{ productDetails.name }}
    </h1>
    <h4 class="subheading-1">
      {{ productDetails.category.name }}
    </h4>
    <div class="flex">
      <mat-icon class="text-accent" *ngIf="reviewStar / 5 >= 1">star</mat-icon>
      <mat-icon class="text-accent" *ngIf="reviewStar / 4 >= 1">star</mat-icon>
      <mat-icon class="text-accent" *ngIf="reviewStar / 3 >= 1">star</mat-icon>
      <mat-icon class="text-accent" *ngIf="reviewStar / 2 >= 1">star</mat-icon>
      <mat-icon class="text-accent" *ngIf="reviewStar / 1 >= 1">star</mat-icon>
      <mat-icon class="text-gray" *ngIf="5 - reviewStar > 0">star</mat-icon>
      <mat-icon class="text-gray" *ngIf="4 - reviewStar > 0">star</mat-icon>
      <mat-icon class="text-gray" *ngIf="3 - reviewStar > 0">star</mat-icon>
      <mat-icon class="text-gray" *ngIf="2 - reviewStar > 0">star</mat-icon>
      <mat-icon class="text-gray" *ngIf="1 - reviewStar > 0">star</mat-icon>
      <button mat-flat-button type="button" aria-label="Reviews count">
        {{ productDetails.reviewes.length }} <mat-icon>reviews</mat-icon>
      </button>
    </div>

    <p class="display-2">
      {{ productDetails.small_description }}
    </p>

    <!-- META -->
    <!-- PRICES  -->
    <mat-accordion *ngIf="productDetails.prices">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> PRICES </mat-panel-title>
        </mat-expansion-panel-header>
        <app-product-price-table
          [priceData]="productDetails.prices"
          (addToCart)="addToCart($event)"
          (removeToCart)="removeToCart($event)"
        ></app-product-price-table>
      </mat-expansion-panel>
    </mat-accordion>
    <!-- DESCRIPTION  -->
    <mat-accordion *ngIf="productDetails.prices">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> DESCRIPTION </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="subheading-1">{{ productDetails.description }}</p>
      </mat-expansion-panel>
    </mat-accordion>
    <!-- REVIEWS  -->
    <mat-accordion *ngIf="productDetails.prices">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> REVIEWS </mat-panel-title>
        </mat-expansion-panel-header>
        <div
          class="product-review"
          *ngFor="let review of productDetails.reviewes"
        >
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{ review.user.name }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{ review.message }}</p>
            </mat-card-content>
          </mat-card>

          <h3 class="review-null-text" *ngIf="!productDetails.reviewes.length">
            No Reviews found
          </h3>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
