<div
  class="hero"
  [ngStyle]="{ height: cardHeight + 'rem', width: cardWidth + 'rem' }"
>
  <div class="product-image">
    <img
      [src]="
        productDetails.image
          ? productDetails.image
          : 'assets/statics/product-image.jpg'
      "
      [alt]="productDetails.name"
    />
  </div>
  <div class="product-name">
    {{ productDetails.name | titlecase }}
  </div>
  <div class="product-category">
    {{ productDetails.category | titlecase }}
  </div>
  <div class="product-ratings">
    <div class="ratings">
      <div class="star-yellow" *ngIf="review[0] / 5 >= 1"></div>
      <div class="star-yellow" *ngIf="review[0] / 4 >= 1"></div>
      <div class="star-yellow" *ngIf="review[0] / 3 >= 1"></div>
      <div class="star-yellow" *ngIf="review[0] / 2 >= 1"></div>
      <div class="star-yellow" *ngIf="review[0] / 1 >= 1"></div>
      <div class="star-grey" *ngIf="5 - review[0] > 0"></div>
      <div class="star-grey" *ngIf="4 - review[0] > 0"></div>
      <div class="star-grey" *ngIf="3 - review[0] > 0"></div>
      <div class="star-grey" *ngIf="2 - review[0] > 0"></div>
      <div class="star-grey" *ngIf="1 - review[0] > 0"></div>
    </div>
    <div class="reviews">{{ review[1] }} Reviews</div>
  </div>
  <div class="product-actions" *ngIf="actionName">
    <button
      class="wishlist-btn"
      type="button"
      (click)="actionClick.emit(productDetails?.slug)"
    >
      <div class="wishlist-btn-text">{{ actionName | titlecase }}</div>
      <div class="wishlist-btn-icon" *ngIf="actionIcon">
        <mat-icon>{{ actionIcon }}</mat-icon>
      </div>
    </button>
  </div>
</div>
