<div class="hero">
  <div class="hero-title">
    <h1>Login</h1>
  </div>
  <div class="hero-form">
    <form [formGroup]="loginForm" (submit)="onLogin()">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          name="email"
          formControlName="email"
          placeholder="Enter your email"
        />
        <mat-error *ngIf="loginForm.get('email').hasError('required')"
          >Email is Required</mat-error
        >
        <mat-error *ngIf="loginForm.get('email').hasError('email')"
          >Please Provide valid Email.</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>

        <input
          matInput
          [type]="showPassword ? 'text' : 'password'"
          name="password"
          placeholder="Enter Your Password"
          formControlName="password"
          (keyup)="passwordErrorChecker($event)"
        />
        <button
          matSuffix
          mat-button
          type="button"
          *ngIf="!showPassword"
          (click)="showPassword = true"
        >
          <mat-icon>visibility</mat-icon>
        </button>
        <button
          matSuffix
          mat-button
          type="button"
          *ngIf="showPassword"
          (click)="showPassword = false"
        >
          <mat-icon>visibility_off</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.get('password').hasError('required')"
          >Password is Required</mat-error
        >
        <mat-hint
          *ngIf="
            !passwordCapitalLetter ||
            !passwordSpecialLetter ||
            !passwordNumber ||
            !loginForm.get('password').dirty ||
            !(loginForm.get('password').value.length >= 8)
          "
        >
          <p>
            8 Characters long
            <mat-icon
              style="color: green"
              *ngIf="
                loginForm.get('password').dirty &&
                loginForm.get('password').value.length >= 8
              "
              >done</mat-icon
            >
            <mat-icon
              style="color: red"
              *ngIf="
                !loginForm.get('password').dirty ||
                !(loginForm.get('password').value.length >= 8)
              "
              >close</mat-icon
            >
          </p>
          <p>
            Contains Capital Letter
            <mat-icon
              style="color: green"
              *ngIf="loginForm.get('password').dirty && passwordCapitalLetter"
              >done</mat-icon
            >
            <mat-icon
              style="color: red"
              *ngIf="!loginForm.get('password').dirty || !passwordCapitalLetter"
              >close</mat-icon
            >
          </p>
          <p>
            Contains Special Character
            <mat-icon
              style="color: green"
              *ngIf="loginForm.get('password').dirty && passwordSpecialLetter"
              >done</mat-icon
            >
            <mat-icon
              style="color: red"
              *ngIf="!loginForm.get('password').dirty || !passwordSpecialLetter"
              >close</mat-icon
            >
          </p>
          <p>
            Contains Numeric Character
            <mat-icon
              style="color: green"
              *ngIf="loginForm.get('password').dirty && passwordNumber"
              >done</mat-icon
            >
            <mat-icon
              style="color: red"
              *ngIf="!loginForm.get('password').dirty || !passwordNumber"
              >close</mat-icon
            >
          </p>
        </mat-hint>
      </mat-form-field>

      <button
        mat-raised-button
        type="submit"
        name="login"
        color="primary"
        class="login-btn"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </form>
  </div>
</div>
