.table-data {
  border: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
table {
  padding: 0;
  margin: 0;
  width: 100%;

  td,
  th {
    width: 20%;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
