<div class="hero" *ngIf="orderData">
  <div class="hero-orders">
    <mat-accordion multi="true">
      <div class="order-list" *ngFor="let order of orderData.rows">
        <app-order-card
          [orderDetails]="order"
          (cancelOrder)="onCancelOrder($event)"
        ></app-order-card>
      </div>
    </mat-accordion>
    <mat-paginator
      *ngIf="orderData.count"
      [length]="orderData.count"
      [pageSize]="pageSize"
      (page)="onPageChange($event)"
    ></mat-paginator>
  </div>
  <app-loader *ngIf="!orderData"></app-loader>
</div>
