<!-- <div class="hero" *ngIf="orderData">
  <div class="hero-orders">
    <mat-accordion multi="true">
      <div class="order-list" *ngFor="let order of orderData.rows">
        <app-order-card
          [orderDetails]="order"
          (cancelOrder)="onCancelOrder($event)"
        ></app-order-card>
      </div>
    </mat-accordion>
    <mat-paginator
      *ngIf="orderData.count"
      [length]="orderData.count"
      [pageSize]="pageSize"
      (page)="onPageChange($event)"
    ></mat-paginator>
  </div>
</div> -->
<app-loader *ngIf="!orderData"></app-loader>
<p
  class="mat-subheading"
  style="text-align: center"
  *ngIf="orderData?.count === 0"
>
  No orders found
</p>
<mat-accordion multi="true" *ngIf="orderData">
  <mat-grid-list
    [cols]="mybreakpoint"
    rowHeight="450px"
    (window:resize)="handleSize($event)"
  >
    <mat-grid-tile *ngFor="let order of orderData.rows">
      <app-order-card
        [orderDetails]="order"
        (cancelOrder)="onCancelOrder($event)"
      ></app-order-card>
    </mat-grid-tile>
  </mat-grid-list>
</mat-accordion>
<mat-paginator
  *ngIf="orderData?.count"
  [length]="orderData.count"
  [pageSize]="pageSize"
  (page)="onPageChange($event)"
></mat-paginator>
