mat-toolbar {
  display: flex;
}

.brand-hero {
  a {
    cursor: pointer;
    text-decoration: none;
    color: white;
  }
}
.spacer {
  flex: 1 1 auto;
}
.hero-search {
  margin-top: 1rem;
  width: 50%;
  mat-form-field {
    width: 50%;
    .example-option-img {
      vertical-align: middle;
      margin-right: 8px;
    }

    [dir='rtl'] .example-option-img {
      margin-right: 0;
      margin-left: 8px;
    }
  }
}
