<div class="hero" *ngIf="!pageLoding">
  <div class="profile-image">
    <img [src]="auth0ProfileClaims['picture']" />
  </div>
  <div class="profile-field">
    <div class="profile-field-label">
      <p>Name:</p>
    </div>
    <div class="profile-field-value">
      <p>{{ auth0ProfileClaims['name'] }}</p>
    </div>
  </div>
  <div class="profile-field">
    <div class="profile-field-label">
      <p>Email:</p>
    </div>
    <div class="profile-field-value">
      <p>{{ auth0ProfileClaims['email'] }}</p>
    </div>
  </div>
  <div class="profile-field">
    <div class="profile-field-label">
      <p>Email Verified:</p>
    </div>
    <div class="profile-field-value">
      <p>
        <mat-icon
          *ngIf="auth0ProfileClaims['email_verified']"
          style="color: green"
          >check</mat-icon
        >
        <mat-icon
          *ngIf="!auth0ProfileClaims['email_verified']"
          style="color: red"
          >close</mat-icon
        >
      </p>
    </div>
  </div>
</div>
<app-loader *ngIf="pageLoding"></app-loader>
