.hero {
  padding: 0.3rem;
}
.profile-image {
  display: flex;
  justify-content: center;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  img {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
  }
}

.profile-field {
  display: flex;
  border: 1px solid black;
  margin: 0.1rem;
}
.profile-field-label {
  border-right: 1px solid black;
  padding: 0.8rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 550;
  flex: 30%;
}
.profile-field-value {
  padding: 0.8rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 550;
  width: auto;
  flex: 70%;
}
