.hero {
  margin: 0;
  padding: 0;
}
.hero-title {
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 3rem;
  }
}
.hero-form {
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    display: block;
    width: 100%;
    padding: 1rem;
    margin: 1rem;
    mat-form-field {
      display: block;
    }
  }
}
.signup-btn {
  width: 100%;
  margin-top: 5rem;
}
