<div class="hero" *ngIf="!pageLoading">
  <div class="hero-title">
    <h1>Signup</h1>
  </div>
  <div class="hero-form">
    <form [formGroup]="signupForm" (submit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input
          matInput
          type="text"
          name="name"
          formControlName="name"
          placeholder="Enter your name"
        />
        <mat-error *ngIf="signupForm.get('name').hasError('required')">
          Name is Required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contact no</mat-label>
        <span
          matPrefix
          style="display: flex; align-items: center; align-content: center"
        >
          +91
        </span>
        <input
          matInput
          type="tel"
          name="contact_no"
          formControlName="contact_no"
          placeholder="Enter your contact no"
        />
        <mat-error *ngIf="signupForm.get('contact_no').hasError('required')">
          Contact no is Required
        </mat-error>
        <mat-error
          *ngIf="
            signupForm.get('contact_no').hasError('minlength') ||
            signupForm.get('contact_no').hasError('maxlength') ||
            signupForm.get('contact_no').hasError('pattern')
          "
        >
          Contact no has to be 10 digits
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          name="email"
          formControlName="email"
          placeholder="Enter your email"
        />
        <mat-error *ngIf="signupForm.get('email').hasError('required')"
          >Email is Required</mat-error
        >
        <mat-error *ngIf="signupForm.get('email').hasError('email')"
          >Please Provide valid Email.</mat-error
        >
        <mat-error *ngIf="signupForm.get('email').hasError('emailInUse')">
          This Email is already in use.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>

        <input
          matInput
          [type]="showPassword ? 'text' : 'password'"
          name="password"
          placeholder="Enter Your Password"
          formControlName="password"
          (keyup)="passwordErrorChecker($event)"
        />
        <button
          matSuffix
          mat-button
          type="button"
          *ngIf="!showPassword"
          (click)="showPassword = true"
        >
          <mat-icon>visibility</mat-icon>
        </button>
        <button
          matSuffix
          mat-button
          type="button"
          *ngIf="showPassword"
          (click)="showPassword = false"
        >
          <mat-icon>visibility_off</mat-icon>
        </button>
        <mat-error *ngIf="signupForm.get('password').hasError('required')"
          >Password is Required</mat-error
        >
        <mat-hint
          *ngIf="
            !passwordCapitalLetter ||
            !passwordSpecialLetter ||
            !passwordNumber ||
            !signupForm.get('password').dirty ||
            !(signupForm.get('password').value.length >= 8)
          "
        >
          <p>
            8 Characters long
            <mat-icon
              style="color: green"
              *ngIf="
                signupForm.get('password').dirty &&
                signupForm.get('password').value.length >= 8
              "
              >done</mat-icon
            >
            <mat-icon
              style="color: red"
              *ngIf="
                !signupForm.get('password').dirty ||
                !(signupForm.get('password').value.length >= 8)
              "
              >close</mat-icon
            >
          </p>
          <p>
            Contains Capital Letter
            <mat-icon
              style="color: green"
              *ngIf="signupForm.get('password').dirty && passwordCapitalLetter"
              >done</mat-icon
            >
            <mat-icon
              style="color: red"
              *ngIf="
                !signupForm.get('password').dirty || !passwordCapitalLetter
              "
              >close</mat-icon
            >
          </p>
          <p>
            Contains Special Character
            <mat-icon
              style="color: green"
              *ngIf="signupForm.get('password').dirty && passwordSpecialLetter"
              >done</mat-icon
            >
            <mat-icon
              style="color: red"
              *ngIf="
                !signupForm.get('password').dirty || !passwordSpecialLetter
              "
              >close</mat-icon
            >
          </p>
          <p>
            Contains Numeric Character
            <mat-icon
              style="color: green"
              *ngIf="signupForm.get('password').dirty && passwordNumber"
              >done</mat-icon
            >
            <mat-icon
              style="color: red"
              *ngIf="!signupForm.get('password').dirty || !passwordNumber"
              >close</mat-icon
            >
          </p>
        </mat-hint>
      </mat-form-field>

      <button
        mat-raised-button
        type="submit"
        name="login"
        color="primary"
        class="signup-btn"
        [disabled]="signupForm.invalid"
      >
        <span *ngIf="!signupLoading">Login</span>
        <mat-progress-spinner
          mode="indeterminate"
          *ngIf="signupLoading"
        ></mat-progress-spinner>
      </button>
    </form>
  </div>
</div>
<app-loader *ngIf="pageLoading"></app-loader>
