<div id="mySidenav" class="sidenav">
  <a class="closebtn" (click)="closeNav()">&times;</a>

  <span>
    <a
      routerLink="auth/login"
      routerLinkActive="mat-accent"
      *ngIf="!isAuthenticated"
      (click)="auth0Login()"
      ><mat-icon>login</mat-icon> Login</a
    >

    <a
      *ngIf="isAuthenticated"
      routerLink="profile/profile-view"
      routerLinkActive="mat-accent"
      (click)="closeNav()"
      ><mat-icon> manage_accounts</mat-icon> Manage Account</a
    >

    <a *ngIf="isAuthenticated" (click)="auth0Logout()"
      ><mat-icon>logout</mat-icon> Logout</a
    >
  </span>
</div>
